* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(../../Images/painting-mountain-lake-with-mountain-background.jpg); */
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #e4e9f7;
}

.container-width {
    max-width: 1520px;
    margin: 0 auto;
    text-align: center;
}

.top-page{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid rgb(211, 211, 211);
    position: sticky;
    top: 0;
  }

.menu-bar {
    background: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;

}
.menu-bar img {
    width: 100px;
    margin-left: 2rem;
}

.menu-bar ul{
    display: inline-block;
    list-style-type: none;
    color: #fff;
}
.menu-bar ul li{
    display: inline-block;
    margin: 10px ;
    padding: 10px ;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #050505;
}
.buttom-box {
    margin-right: 2rem;
    display: inline-block;
    padding: 7px ;
    border-style: none;
}
.nav-buttom button{
    justify-content: space-between;
    padding: 7px ;
    border-radius: 15px;
    width: 90px;
    border-style: none;
}

.nav-buttom button:hover {
    background-color: #8f67ff;
    
}
/* =============================================== */
.image-container-width {
    width: 100%;
    display: flex;
    /* position: absolute; */
}
.image-container {
    width: 100%;
    height: 500px;
    background-color: #8f67ff;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.image-container img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;

}
.image-container img:hover {
    filter: blur(100px);
    transition: all 0.5S;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10rem auto;
    
}
.overlay h1 {
    color: #fff;
    font-size: 65px;
}
.overlay h2 {
    color: #fff;
    font-size: 25px;
}

.btnimage button{
    position: relative;
    justify-content: space-between;
    padding: 26px 30px 26px 30px;
    margin: 10px;
    border-radius: 20px;
    width: 400px;
    height: 90px;
    border-style: none;

    font-size: 15px;
    color: #fff;
    background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.btnimage button:hover {
    cursor: pointer;
    transition: all 0.0s;

    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
      );
      backdrop-filter: blur(100px);
      -webkit-backdrop-filter: blur(px);
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}
/* ================================= Product ======================== */
.model {
    display: inline-block;
    width: 253px;
    padding: 8px;

    margin: 10px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
.model img {
    width: 100%;
    height: 193px;
    object-fit: cover;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 1rem;
  }
.name-pro {
    text-align: center;
  }
  /* ============================================================= */

  .footer {
    width: 100%;
    height: 350px;
    margin-top: 2rem;
    background-color: #f9f9f9;
  }
